<h1>{{title}}</h1>

<p>Task saved successfully.</p>

<dl>
  <dt>Name</dt>
  <dd>{{task.name}}</dd>

  <dt>Description</dt>
  <dd>{{task.description}}</dd>
</dl>

<p>
  <a href="/addtask">Add another task</a>
  |
  <a href="/">Home</a>
</p>
